.redes-sociales{
  height: 50px;
  width: 60px;
  margin-top: 7.5rem;
}
.navegacion{
  background-color: #78CCA4;

}
.post{
  font-size: 0.9rem;
}
.post-img{
  margin-top: 0px;
  height: 50%;
}
.img-usuario{
  width: 20%;
}
