.redes-sociales{
  width: 17%;
  height: 28%;
  margin-top: 7.5rem;
}
.barra{
  min-height: 20px;
}
#nave{
  width: 100%;
}
.nav-item{
  width: 17%;
  text-align: center;
}
.navegacion{
  background-color: #78CCA4;
}
.post{
  font-size: 0.9rem;
}
.post-img{
  margin-top: 15px;
  width:100%;
}
.img-usuario-der{
  width: 60%;
  margin-left: 30px;
  margin-top: 0px;
}
.img-usuario-izq{
  width: 60%;
  margin-left: 30px;
  margin-top: 8px;
}
.comentarios{
  margin-top: 5px;
  margin-left: 0;
  width: 100%;
}
.palabras-clave{
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
@media screen and (max-width:767px) {
  .img-usuario-der{
    margin-top: 15px;
  }
  .post-img{
    width: 70%;
    height: 370px;
  }
}
