.fondo{
  background-image: url('../img/montaña.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
#logo{
  width: 100%;
  margin-top: 80px;
  margin-left: 60px;
  height:230px;
}
.navegacion{
  margin-top: 17px;
}
