body{
  background-image: url('../img/montaña.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
#logo{
  width: 100%;
  margin-top: 80px;
  margin-left: 10px;
  height:180px;
}
.navegacion{
  margin-top: 17px;
}
.galeria-img{
  width: 100%;
}
.img-articulo{
  width: 30%;
  float: left;
}
.slogan{
  margin-top:70px;
  padding-top: 40px;
}

@media screen and (max-width:600px) {
  .slogan{
    margin-top: 0px;
    margin-left: 0px;
  }
}
